<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.8.1/lumen/bulmaswatch.min.css"
			integrity="sha512-eO9jZg3Wuuu2fR+YGIhHAM6FYzf2v771mKh9GMXrUrrbitTeX2wbUeX6dj+srXcaQIXQP5ZO0lZdohXYjF6PrA=="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="styles.css" />
		<title>URL Shortener</title>
	</head>
	<body>
		<section class="hero is-medium is-primary is-bold">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">URL Shortener for your complex URLs</h1>
				</div>
			</div>
		</section>
		<main id="app">
			<form action="/url" method="POST" onsubmit="submit();">
				<% if(error){ %>
				<div v-if="error" class="notification is-danger"><%= error %></div>
				<% }%>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">URL</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<input
									name="url"
									class="input is-large"
									type="text"
									placeholder="http://example.com"
									required
								/>
							</p>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Short Url</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<input
									name="shortUrl"
									class="input is-large"
									type="text"
									placeholder="short-url"
									required
								/>
							</p>
						</div>
					</div>
				</div>
				<div class="short-button">
					<button type="submit" class="button is-large is-success">Get!</button>
				</div>
			</form>
			<% if(shortUrl){ %>
			<h3
				v-if="success"
				class="subtitle is-3"
				style="text-align: center; padding: 4rem 2rem"
			>
				<a :href="'/' + name" target="_blank">/url/<%= shortUrl %></a>
			</h3>
			<% }%>
		</main>
		<script type="text/javascript" src="/script.js"></script>
	</body>
</html>
